
        @font-face {
          font-family: "Retina";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/Retina-Book.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/Retina-Book.woff") format("woff");
          font-style: normal;
          font-weight: 400;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/Retina-BookItalic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/Retina-BookItalic.woff") format("woff");
          font-style: italic;
          font-weight: 400;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/Retina-Light.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/Retina-Light.woff") format("woff");
          font-style: normal;
          font-weight: 300;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/Retina-LightItalic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/Retina-LightItalic.woff") format("woff");
          font-style: italic;
          font-weight: 300;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/Retina-Medium.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/Retina-Medium.woff") format("woff");
          font-style: normal;
          font-weight: 500;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/Retina-MediumItalic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/Retina-MediumItalic.woff") format("woff");
          font-style: italic;
          font-weight: 500;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina Narrow";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Light.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Light.woff") format("woff");
          font-style: normal;
          font-weight: 300;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina Narrow";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-LightItalic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-LightItalic.woff") format("woff");
          font-style: italic;
          font-weight: 300;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina Narrow";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Book.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Book.woff") format("woff");
          font-style: normal;
          font-weight: 400;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina Narrow";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-BookItalic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-BookItalic.woff") format("woff");
          font-style: italic;
          font-weight: 400;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina Narrow";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Medium.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Medium.woff") format("woff");
          font-style: normal;
          font-weight: 500;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina Narrow";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-MediumItalic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-MediumItalic.woff") format("woff");
          font-style: italic;
          font-weight: 500;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina Narrow";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Bold.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Bold.woff") format("woff");
          font-style: normal;
          font-weight: 700;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Retina Narrow";
          src:
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-BoldItalic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-BoldItalic.woff") format("woff");
          font-style: italic;
          font-weight: 700;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Escrow Condensed";
          src:
            url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Bold.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Bold.woff") format("woff");
          font-style: normal;
          font-weight: 700;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Escrow Condensed";
          src:
            url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Bold+Italic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Bold+Italic.woff") format("woff");
          font-style: italic;
          font-weight: 700;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Escrow Condensed";
          src:
            url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Roman.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Roman.woff") format("woff");
          font-style: normal;
          font-weight: 400;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Escrow Condensed";
          src:
            url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Italic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Italic.woff") format("woff");
          font-style: italic;
          font-weight: 400;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Exchange";
          src:
            url("https://www.wsj.com/fonts/woffs/exchange/Exchange-Book.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/exchange/Exchange-Book.woff") format("woff");
          font-style: normal;
          font-weight: 400;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Exchange";
          src:
            url("https://www.wsj.com/fonts/woffs/exchange/Exchange-BookItalic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/exchange/Exchange-BookItalic.woff") format("woff");
          font-style: italic;
          font-weight: 400;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Exchange";
          src:
            url("https://www.wsj.com/fonts/woffs/exchange/Exchange-Medium.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/exchange/Exchange-Medium.woff") format("woff");
          font-style: normal;
          font-weight: 500;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Exchange";
          src:
            url("https://www.wsj.com/fonts/woffs/exchange/Exchange-MediumItalic.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/exchange/Exchange-MediumItalic.woff") format("woff");
          font-style: italic;
          font-weight: 500;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Open Sans Bold";
          src:
            url("https://www.wsj.com/fonts/woffs/opensans/OpenSansBold.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/opensans/OpenSansBold.woff") format("woff");
          font-style: normal;
          font-weight: 700;
          font-display: optional;
        }
      
        @font-face {
          font-family: "Open Sans Regular";
          src:
            url("https://www.wsj.com/fonts/woffs/opensans/OpenSansRegular.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/opensans/OpenSansRegular.woff") format("woff");
          font-style: normal;
          font-weight: 400;
          font-display: optional;
        }
      
        @font-face {
          font-family: "PT Serif Bold";
          src:
            url("https://www.wsj.com/fonts/woffs/ptserif/PTSerifBold.woff2") format("woff2"),
            url("https://www.wsj.com/fonts/woffs/ptserif/PTSerifBold.woff") format("woff");
          font-style: normal;
          font-weight: 700;
          font-display: optional;
        }
      